{{#foreach posts}}

    <article class="row container-section">

        <!--  Post Image -->
        <section class="twelve columns">
            <!--  Title -->
            <h3><a class="ihana-post-title" href="{{url}}">{{{title}}}</a></h3>

            <!--  Description -->
            <p>{{excerpt words="26"}}...</p>

            <!--  Tags -->
            <section class="tags">{{tags}}</section>
        </section>
    </article>

    <hr>
{{/foreach}}

<!--  Pagination -->
<section class="ihana-pagination">
    {{pagination}}
</section>
