{{#foreach posts}}

    <article class="row container-section">

        <!--  Post Image -->
        <section class="six columns">
            <a class="ihana-post-image" style="background-image: url('{{image}}')" href="{{url}}"></a>
        </section>

        <!--  Post Caption -->
        <section class="six columns">

            <!--  Title -->
            <a class="ihana-post-title" href="{{url}}">{{{title}}}</a>

            <!--  Description -->
            <p>{{excerpt words="26"}}...</p>

            <!--  Tags -->
            <section class="tags">{{tags}}</section>
        </section>
    </article>

{{/foreach}}

<!--  Pagination -->
<section class="pagination">
    {{pagination}}
</section>
