<section class="container container-section">
    <section class="row">

        {{#prev_post}}
            <section class="six columns">

                <section class="ain-panel panel-prev-post">
                    <header class="ain-panel-header">
                        <a class="panel-post-header-link" href="{{url}}">{{title}}</a>
                    </header>
                    <section class="ain-panel-body">
                        <p>{{excerpt words="10"}}&hellip;</p>
                    </section>
                </section>

            </section>
        {{/prev_post}}

        {{#next_post}}
            <section class="six columns">

                <section class="ain-panel panel-next-post">
                    <header class="ain-panel-header">
                        <a class="panel-post-header-link" href="{{url}}">{{title}}</a>
                    </header>
                    <section class="ain-panel-body">
                        <p>{{excerpt words="10"}}&hellip;</p>
                    </section>
                </section>

            </section>
        {{/next_post}}

    </section>
</section>
