<section class="container container-section">
    <section class="row">
        {{#prev_post}}
        <section class="six columns">

         <section class="panel panel-prev-post">
           <header class="panel-header">
            <a class="panel-post-header-link" href="{{url}}"><i class="icon icon-circle-left"></i> {{title}}</a>
           </header>
           <section class="panel-body">
            <p>{{excerpt words="10"}}&hellip;</p>
           </section>
          </section>

        </section>
        {{/prev_post}}

        {{#next_post}}
          <section class="six columns">
           <section class="panel panel-next-post">
             <header class="panel-header">
              <a class="panel-post-header-link" href="{{url}}">{{title}} <i class="icon icon-circle-right"></i></a>
             </header>
             <section class="panel-body">
              <p>{{excerpt words="10"}}&hellip;</p>
             </section>
            </section>
          </section>
        {{/next_post}}
    </section>
</section>
