<section id="main-sidebar" class="sidebar">

    <header class="u-text-centered container-section">
        {{#if @blog.logo}}
            <div class="row">
                <div class="twelve columns">

                    <!--  Blog Logo -->
                    <a href="{{@blog.url}}">
                        <img class="image image-squared image-small ihana-blog-logo" src="{{@blog.logo}}" alt="example circle image" />
                    </a>
                </div>
            </div>
        {{/if}}


        <h4>{{@blog.title}}</h4>
        <p>{{@blog.description}}</p>

        <!--  Sidebar Items -->

        {{> "social_media"}}
    </header>

    <nav>
        <ul class="sidebar-list">

            <!--  Navigation Links -->
            {{navigation}}

            <!--  Custom Links -->
            <!-- <li class="sidebar-item"><a class="navbar-link" href="#">Home</a></li> -->
        </ul>
    </nav>

    <!--  Sidebar Footer - Author Info -->

    <footer class="sidebar-footer">
        <p>Copyright Ihana Ghost Theme. Made with <span class="u-text-danger">&#x2764;</span> by <a href="http://elenatorro.github.io/">Elena Torró.</a></p>
    </footer>

</section>
