{{!< default}}

{{#post}}

<main class="container" role="main">
    <header class="header">
        <h3>{{@blog.title}}</h3>
    </header>
    <section class="header-post">
        <section class="row">
            <section class="twelve columns">
                <time datetime="{{date format='YYYY-MM-DD'}}">
                  <em>{{date format="dddd"}}</em>,
                  <span>{{date format="DD"}}</span>
                  <strong>{{date format="MMMM YYYY"}}</strong>
                </time>
            <span class="header-post--title">
                <h2>{{title}}</h2>
            </span>
            </section>
        </section>
    </section>
    <section class="row">
        <section class="twelve columns">
            {{content}}
        </section>
    </section>
    <aside class="row container-section">
       {{> "author"}}
    </aside>
</main>

<!--  Next & Previous Post -->
{{> 'post_navigation'}}

{{> "footer" }}
{{/post}}
