{{!< default}}

{{#post}}

<main class="container ihana-post-container" role="main">
    <header class="header">
      <section class="header-post">
          <section class="row">
              <section class="twelve columns">
                  <time datetime="{{date format='YYYY-MM-DD'}}">
                    <em>{{date format="dddd"}}</em>,
                    <span>{{date format="DD"}}</span>
                    <strong>{{date format="MMMM YYYY"}}</strong>
                  </time>
                 <h1>{{title}}</h1>
              </section>
          </section>
      </section>
    </header>
    <section class="row">
        <section class="twelve columns">
            {{content}}
        </section>
    </section>
    <aside class="row container-section">
       {{> "author"}}
    </aside>
</main>

<!--  Next & Previous Post -->
{{> 'post_navigation'}}

{{/post}}
